{% extends "vng_api_common/index.html" %}

{% block extra_docs %}

  {% include "vng_api_common/includes/kanalen_card.html" %}

{% endblock %}

{% block extra_content %}
  <h2>Extra</h2>

  <div class="row justify-content-md-center">

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><i class="fab fa-python"></i> Code documentatie</h5>
          <p class="card-text">Python code documentatie van dit component.</p>
          <a href="_docs/index.html" class="btn btn-primary">Code documentatie</a>
        </div>
      </div>

    </div>

  </div>
  <p></p>

{% endblock %}
